body{
	margin:0;
	padding:0;
	text-align: center;
	margin:0 auto;
}

.container{
	width:960px;
	margin:0 auto;
	overflow: hidden;
	text-align:center;
	/*border:1px solid red;*/
}

.one-third{
	width:33.3333%;
	float:left;
	/*border:1px solid red;*/
	box-sizing: border-box;


}

.width-limiter {
	width: 1300px;
}

/**************************************************** HEADER **********************************************/

header {
	margin:0;
	padding:0;
	text-align: center;
	position:relative;
	margin:0 auto;
}

.logo{
	display:inline-block;
	margin: 0 auto;
	margin-left:-35px;
	text-align: center;


}
.telephone{
	position:absolute;
	top:30px;
	right:30px;	
	/*float:right;*/

}

/*.telephone a{
	color:red;
}*/


.telephone a:hover{
	/*background-color:red;*/

}


/********************************************  MENU  ******************************************/

.menu{
	margin:0 auto;
	text-align:center;
	/*border:1px solid red;*/

}

.menu nav ul{
	margin:0;
	padding:0;
}

.menu nav ul li{
	list-style: none;
	float:left;

}


.menu nav ul li a{
	display:block;
	font-family: Times New Roman, serif;
	font-size: 16px;
	color:#4f4f4f;
	text-align:center;
	text-decoration: none;
	padding:11px 30px;
	height:40px;
	line-height:40px;

}

.menu nav ul li a:hover{
	background-color:#eabe23;
	text-align:center;
	
}


/*************************************   MAIN SECTION  ****************************************/

#picture{
	width:1350px;
    margin:20px auto 0;
	height:500px;
	background-image: url(../images/first-page.jpg);
	background-size: cover;
	background-position: center;

}

.main ul{
	margin:0;
	padding:0;
	float:right;
	margin-top:-320px;
	margin-right: 25px;

}

.main ul li{
	list-style-type: none;
	

	
}





/********************************    FOOTER   ************************/

footer{
	height:150px;
	margin:0;
	padding:0;
	background-color: white;
}


.boxed {
	width:  120px;
	height:  50px;
	margin:  40px auto;
	border:  1px solid #eabe23;
	padding: 3px;
}


.book-now {
	width:  120px;
	height:  50px;
	background-color:#eabe23 ;
}

.book-now a {
	line-height: 50px;
	text-decoration: none;
	color:  white;
}


.social {
	margin-top: 100px;
	line-height: 50px;
	margin-right: -170px;
}
.social .network{
	margin-right: 5px;
}


/*************************************************      ABOUT HOTEL     ****************************************************/


#picture1{

	width:420px;
	margin-top:20px;	
	margin-left: 85px;
	height:499px;
	background-image: url(../images/chandelier.jpg);
	background-size: cover;
	background-position: left;
	float:left;

}

#picture2{
	display: block;
	width:420px;
	margin:0 auto;
	margin-top:20px;
	margin-left: 10px;
	height:500px;
	background-image: url(../images/hallway.jpg);
	background-size: cover;
	background-position: center;
	float:left;
	margin-left: 40px;

}

.text{
	width:420px;
	height:499px;
	border:0.5px solid #4f4f4f;
	float:left;
	margin-top:20px;
	margin-left:30px;

}

.text h2{
	color:#4f4f4f;
	text-align: center;
}

.text p{
	color:#4f4f4f;
	padding:50px;

} 


.discover {
	color:#eabe23;
	margin-top: 20px;
	line-height: 50px;
	margin-left: 300px;
	font-size:18px;
	font-weight: bold;
	float:left;


}

#discover1, #discover2{
	margin-left: 180px;
}


.main #circles{
	margin:0;
	padding:0;
	float:right;
	margin-top:200px;
	margin-right: 25px;

}  

#telephone1{
	top:0px;
	right:0px;
}

#arrow{
	margin-top: 29px;
	margin-right: 36px;

}  

	


/**************************************       ROOMS & SUITS         *******************************************************/



#room1{
	display:block;
	margin-top:-20px;
	margin-left:85px;
	width:425px;
	height:145px;
	background-image: url(../images/room1.jpg);
	float:left;
	background-size: cover;
	background-position: left;

}
#room2{
	display:block;
	margin-top:-20px;
	margin-left:30px;
	width:425px;
	height:145px;
	background-image: url(../images/room2.jpg);
	float:left;
	background-size: cover;
	background-position: left ;
}



#room3{
	display:block;
	margin-top:-20px;
	margin-left:35px;
	width:425px;
	height:145px;
	background-image: url(../images/room3.jpg);
	float:left;
	background-size: cover;
	background-position: left;
}


#room4{
	display:block;
	/*margin:0 auto;*/
	margin-top:209px;
	margin-left:85px;
	width:425px;
	height:145px;
	background-image: url(../images/room4.jpg);
	float:left;
	background-size: cover;
	background-position: center;
}


#rooms{
	display:block;
	width:425px;
	height:145px;
	margin:0 auto;
	/*border:1px solid red;*/
	/*text-align: center;*/


}

#room5{
	display:block;
	/*margin:0 auto;*/
	margin-top:15px;
	margin-left:495px;
	width:425px;
	height:145px;
	background-image: url(../images/room5.jpg);
	float:left;
	background-size: cover;
	background-position: center;
}



#room6{
	display:block;
	margin:0 auto;
	margin-top:15px;
	margin-left: 85px;
	width:425px;
	height:145px;
	background-image: url(../images/room6.jpg);
	/*float:right;*/
	background-size: cover;
	background-position: right;
	}

#room7{
	display:block;
	width:425px;
	height:146px;
	margin-top:29px;
	margin-left: 545px;
	background-image: url(../images/room7.jpg);
	/*float:left;*/
	background-size: cover;
	background-position: right;
}
	

#room8{
	display:block;
	width:425px;
	height:145px;
	margin-top:-146px;
	margin-left:1010px;
	background-image: url(../images/room8.jpg);
	/*float:left;*/
	background-size: cover;
	background-position: right;
	
}


#rooms h1{

	font-size: 50px;
	color:#4f4f4f;
	font-family: 'Baskervville', serif;	

	
}

#rooms h1 span{
	color:#eabe23;
	font-size:80px;
}

#circle1{
	margin-top:-320px;
	margin-right:25px;
}



/********************************************          RESTAURANT             *********************************************/

#restaurant{
	width:650px;
	height:500px;
	background-image: url(../images/restaurant.jpg);
	background-size: cover;
	background-position: left;
	float:left;
	margin-top:20px;
	margin-left:85px;

} 


.main #circles2{
	margin:0;
	padding:0;
	float:right;
	margin-top: 200px;
	margin-right: 25px;
}

.main #text2{
	width:650px;
	height:499px;
	margin-left: 40px;
}

.main #text2 p{
	padding:30px 70px;	
}

#arrow1{
	margin-top:28px;
	margin-right:139px;
}




/********************************************   PASTRY SHOP   ***********************************************/

#cakepicture1{
	width:420px;
	margin-top: 20px;	
	margin-left: 85px;
	height:500px;
	background-image: url(../images/cake1.jpg);
	background-size: cover;
	background-position: left;
	float:left;


}

.main #text1{
	width:420px;
	height:499px;
	background-position: center;
	margin-left:40px;


}

#cakepicture2{
	width: 420px;
	margin-top: 20px;
	height:500px;
	background-image: url(../images/cake2.jpg);
	background-size: cover;
	background-position:right;
	float:right;
	margin-right:95px;
}

#discover2{
	margin-top:-20px;
}

#arrow2{
	margin-top:-11px;
	margin-right: 38px;
}





/********************************* SPA & WELLNESS  *****************/

#spa{
	width:660px;
	margin-top:20px;
	margin-left: 85px;
	height:330px;
	background-image: url(../images/spa.jpg);
	background-size: cover;
	background-position: left;
	float:left;
}

#bathroom{
	width:660px;
	margin-top:20px;
	margin-left: 30px;
	height:330px;
	background-image: url(../images/bathroom.jpg);
	background-size: cover;
	background-position: right;
	float:left;

}


#text3{
	position:relative;
	height:149px;
	width:1350px;
	margin-left:85px;
}

#text3 h1{
	position:absolute;
	top:-31px;
	left:18px;
	font-size: 30px;
	color:#4f4f4f;
	font-family: 'Baskervville', serif;	
}

#text3 h1 span{
	color:#eabe23;
	font-size:65px;
}

#text3 p{
	padding-top: 16px;
	padding-left:290px;
}

#circle3{
	margin-top:-150px;
	margin-right:25px;
}

#discover3{
	margin-top: -57px;
	margin-left:1125px;
}




/************************ WEDDINGS & RECEPTIONS *******************/


#wedding{
	width:660px;
	margin-top:20px;
	margin-left: 30px;
	height:500px;
	background-image: url(../images/wedding.jpg);
	background-size: cover;
	background-position: right;
	float:left;


}

#text4{
	position:relative;
	width:660px;
	margin-left:85px;
	height:499px;

}

#text4 img{
	position:absolute;
	top:0;
	left:0;
	
}

#text4 h1{
	font-size: 30px;
	color:#4f4f4f;
	font-family: 'Baskervville', serif;	
}

#text4 h1 span{
	color:#eabe23;
	font-size:65px;
}

#text4 p{
	padding-top: 70px;
}

#circle4{
	margin-top: 200px;
}

#discover4{
	margin-top: -32px;
	margin-left: 408px;
}

#arrow4{
	margin-top: 440px;
	margin-left: 578px;
}