body{
	margin:0;
	padding:0;
}

.container{
	/*width:1000px;*/
	margin:0 auto;
	overflow: hidden;
	text-align:center;
}

.one-third{
	width:33.3333%;
	float:left;
	/*border:1px solid red;*/
	box-sizing: border-box;
}
/**************************************************** HEADER **********************************************/

header {
	margin:0;
	padding:0;
	text-align: center;
}

header .logo{
	display:block;
	margin-left:auto;
	margin-right: auto;
	text-align: center;

}
 img.telephone{
	float:right;
	margin-right:-20px;
	margin-top: 0px;	

}

header .telephone a{
	color:red;
}


header .telephone a:hover{
	background-color:red;
}


/********************************************  MENU  ******************************************/

.menu{
	margin: 0 auto;

}

.menu nav ul{
	margin:0;
	padding:0;
}

.menu nav ul li{
	list-style: none;
	float:left;
}


.menu nav ul li a{
	display:block;
	font-family: Times New Roman, serif;
	font-size: 16px;
	color:#4f4f4f;
	text-align:center;
	text-decoration: none;
	padding:11px 31px;
	height:40px;
	line-height:40px;
}

.menu nav ul li a:hover{
	background-color:#eabe23;
	text-align:center;
	
}


/*************************************   MAIN SECTION  ****************************************/

#picture{
	width:90%;
	margin: 20px auto 0;
	height:500px;
	background-image: url(../images/first-page.webp);
	background-size: cover;
	background-position: center;

}

.main ul {
	margin: 0;
	padding: 0;
	float:right;
	margin-top:-250px;
	margin-right: 20px;

}

.main ul li{
	list-style-type: none;
	
}



/********************************    FOOTER   ************************/

footer{
	height:150px;
	margin:0;
	padding:0;
	background-color: white;
	}


.boxed {
	width:  120px;
	height:  50px;
	margin:  40px auto;
	border:  1px solid #eabe23;
	padding: 3px;
}


.book-now {
	width:  120px;
	height:  50px;
	background-color:#eabe23 ;
}

.book-now a {
	line-height: 50px;
	text-decoration: none;
	color:  white;
}


.social {
	margin-top: 100px;
	line-height: 50px;
	margin-right: -186px;
}



	/*******************************************************      PAGE 2   ****************************************************/






#picture1{

    width:28%;
    margin-top: 20px;	
    margin-left: 85px;
	height:500px;
	background-image: url(../images/chandelier.webp);
	background-size: cover;
	background-position: left;
	float:left;

}

#picture2{
	display: block;
	width:28%;
	margin:0 auto;
	margin-top:20px;
	height:500px;
	background-image: url(../images/hallway.webp);
	background-size: cover;
	background-position: center;
	float:left;
	margin-left: 30px;

}

#text{
    width:28%;
	height:500px;
    border:0.5px solid #4f4f4f;
	float:left;
	margin-top:20px;
	margin-left:30px;

}

#text h2{
	color:#4f4f4f;
	text-align: center;
}

#text p{
	color:#4f4f4f;
	padding:30px;

} 

#text h3{
	color:#eabe23;
	position:relative;
	left:20px;

}

#arrow1{
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background position:right;
	
}




#arrow{
	margin-top: -15px;
}


.main ul{
	margin: 0;
	padding: 0;
	float:right;
	margin-top:200px;
	margin-right: 20px;


}

.main ul li{
	list-style-type: none;
	
}



/**************************************           PAGE 3          *******************************************************/




#room1{
	display:block;
	margin-top:20px
	width:30%;
	height:126px;
	background-image: url(../images/room1.webp);
	float:left;
	background-size: cover;
	background-position: left;

}
#room2{
	display:block;
	margin-top:20px
	width:30%;
	height:126px;
	background-image: url(../images/room2.webp);
	float:left;
	background-size: cover;
	background-position: left;
}



#room3{
	display:block;
	margin-top:20px
	width:30%;
	height:126px;
	background-image: url(../images/room3.webp);
	float:left;
	background-size: cover;
	background-position: left;
}


#room4{
	display:block;
	margin:0 auto;
	margin-top:20px
	width:30%;
	height:126px;
	background-image: url(../images/room4.webp);
	float:left;
	background-size: cover;
	background-position: center;
}


#room5{
	display:block;
	margin:0 auto;
	margin-top:20px
	width:30%;
	height:126px;
	background-image: url(../images/room5.webp);
	float:left;
	background-size: cover;
	background-position: center;
}
  


#room6{
	display:block;
	margin:0 auto;
	margin-top:20px
	width:30%;
	height:126px;
	background-image: url(../images/room6.webp);
	float:left;
	background-size: cover;
	background-position: center;
}

#room7{
	width:30%;
	height:126px;
	background-image: url(../images/room7.webp);
	float:left;
	background-size: cover;
}

#room8{
	width:30%;
	height:126px;
	background-image: url(../images/room8.jpg);
	float:left;
	background-size: cover;
}


/********************************************          PAGE4              *********************************************/

