body{
	margin:0;
	padding:0;
	text-align: center;
}

.container{
	width:1520px;
	margin:0 auto;
	overflow: hidden;
	text-align:center;
}

.one-third{
	width:33.3333%;
	float:left;
	/*border:1px solid red;*/
	box-sizing: border-box;
}
/**************************************************** HEADER **********************************************/

header {
	margin:0;
	padding:0;
	text-align: center;
}

.logo{
	display:inline-block;
	margin: 0 auto;
	margin-left:-35px;
	text-align: center;


}
.telephone{
	margin-right: 23px;
	margin-top: 35px;	
	float:right;

}

.telephone a{
	color:red;
}


.telephone a:hover{
	background-color:red;

}


/********************************************  MENU  ******************************************/

.menu{
	margin: 0 auto;
	text-align: center;

}

.menu nav ul{
	margin:0;
	padding:0;
}

.menu nav ul li{
	list-style: none;
	float:left;
}


.menu nav ul li a{
	display:block;
	font-family: Times New Roman, serif;
	font-size: 16px;
	color:#4f4f4f;
	text-align:center;
	text-decoration: none;
	padding:11px 30px;
	height:40px;
	line-height:40px;

}

.menu nav ul li a:hover{
	background-color:#eabe23;
	text-align:center;
	
}


/*************************************   MAIN SECTION  ****************************************/

#picture{
	width:90%;
	margin: 20px auto 0;
	height:500px;
	background-image: url(../images/first-page.jpg);
	background-size: cover;
	background-position: center;

}

.main ul {
	margin:0;
	padding:0;
	float:right;
	margin-top:-300px;
	margin-right: 20px;

}

.main ul li{
	list-style-type: none;
	
}



/********************************    FOOTER   ************************/

footer{
	height:150px;
	margin:0;
	padding:0;
	background-color: white;
}


.boxed {
	width:  120px;
	height:  50px;
	margin:  40px auto;
	border:  1px solid #eabe23;
	padding: 3px;
}


.book-now {
	width:  120px;
	height:  50px;
	background-color:#eabe23 ;
}

.book-now a {
	line-height: 50px;
	text-decoration: none;
	color:  white;
}


.social {
	margin-top: 100px;
	line-height: 50px;
	margin-right: -186px;
}



/*************************************************      ABOUT HOTEL     ****************************************************/


#picture1{

	width:28%;
	margin-top:20px;	
	margin-left: 85px;
	height:500px;
	background-image: url(../images/chandelier.jpg);
	background-size: cover;
	background-position: left;
	float:left;

}

#picture2{
	display: block;
	width:28%;
	margin:0 auto;
	margin-top:20px;
	height:500px;
	background-image: url(../images/hallway.jpg);
	background-size: cover;
	background-position: center;
	float:left;
	margin-left: 30px;

}

.text{
	width:28%;
	height:500px;
	border:0.5px solid #4f4f4f;
	float:left;
	margin-top:20px;
	margin-left:30px;

}

.text h2{
	color:#4f4f4f;
	text-align: center;
}

.text p{
	color:#4f4f4f;
	padding:30px;

} 


.discover {
	color:#eabe23;
	margin-top: 20px;
	line-height: 50px;
	margin-left: 300px;
	font-size:18px;
	font-weight: bold;
	float:left;


}

#discover1, #discover2{
	margin-left: 180px;
}



.main ul{
	margin: 0;
	padding: 0;
	float:right;
	margin-top:-180px;
	margin-right: 20px;


}

.main ul li{
	list-style-type: none;
	
}



/**************************************       ROOMS & SUITS         *******************************************************/



#room1{
	display:block;
	margin-top:20px;
	margin-left:85px;
	width:30%;
	height:126px;
	background-image: url(../images/room1.jpg);
	float:left;
	background-size: cover;
	background-position: left;

}
#room2{
	display:block;
	margin-top:10px;
	margin-left:85px;
	width:30%;
	height:126px;
	background-image: url(../images/room2.jpg);
	float:left;
	background-size: cover;
	background-position: left ;
}



#room3{
	display:block;
	margin-top:10px;
	margin-left:85px;
	width:30%;
	height:126px;
	background-image: url(../images/room3.jpg);
	float:left;
	background-size: cover;
	background-position: left;
}


#room4{
	display:block;
	/*margin:0 auto;*/
	margin-top:20px;
	width:30%;
	height:126px;
	background-image: url(../images/room4.jpg);
	float:left;
	background-size: cover;
	background-position: center;
}


#rooms{
	width:30%;
	height:126px;
	margin:0 auto;
}

#room5{
	display:block;
	/*margin:0 auto;*/
	margin-top:20px;
	width:30%;
	height:126px;
	background-image: url(../images/room5.jpg);
	float:left;
	background-size: cover;
	background-position: center;
}



#room6{
	display:block;
	margin:0 auto;
	margin-top:20px;
	width:30%;
	height:126px;
	background-image: url(../images/room6.jpg);
	/*float:right;*/
	background-size: cover;
	background-position: right;
}

#room7{
	width:30%;
	height:126px;
	margin-top: 10px;
	background-image: url(../images/room7.jpg);
	/*float:left;*/
	background-size: cover;
	background-position: right;
}

#room8{
	width:30%;
	height:126px;
	margin-top: 10px;
	background-image: url(../images/room8.jpg);
	/*float:left;*/
	background-size: cover;
	background-position: right bottom;
}


/********************************************          RESTAURANT             *********************************************/

#restaurant{
	width:45%;
	height:500px;
	background-image: url(../images/restaurant.jpg);
	background-size: cover;
	background-position: left;
	float:left;
	margin-top: 20px;
	margin-left:85px;

} 

#text1{
	width:42%;
}

#text1 p{
	padding:30px 70px;	
}


/********************************************   PASTRY SHOP   ***********************************************/

#cakepicture1{
	width:28%;
	margin-top: 20px;	
	margin-left: 85px;
	height:500px;
	background-image: url(../images/cake1.jpg);
	background-size: cover;
	background-position: left;
	float:left;


}

#text1{
	width:29%;
	background-position: center;

}

#cakepicture2{
	width:28%;
	margin-top: 20px;
	height:500px;
	background-image: url(../images/cake2.jpg);
	background-size: cover;
	background-position: right;
	float:right;
	margin-right:80px;


}



/********************************* SPA & WELLNESS  *****************/

#spa{
	width:43%;
	margin-top:20px;
	margin-left: 85px;
	height:350px;
	background-image: url(../images/spa.jpg);
	background-size: cover;
	background-position: left;
	float:left;
}

#bathroom{
	width:44%;
	margin-top:20px;
	margin-left: 30px;
	height:350px;
	background-image: url(../images/bathroom.jpg);
	background-size: cover;
	background-position: right;
	float:left;

}


#text2{
	position:relative;
	height:150px;
	width:1351px;
	margin-left:85px;
}

#text2 h1{
	position:absolute;
	top:-31px;
	left:18px;
	font-size: 30px;
	color:#4f4f4f;
	font-family: 'Baskervville', serif;	
}

#text2 h1 span{
	color:#eabe23;
	font-size:65px;
}

#text2 p{
	padding-top: 16px;
	padding-left:290px;
}


/************************ WEDDINGS & RECEPTIONS *******************/


#wedding{
	width:44%;
	margin-top:20px;
	margin-left: 30px;
	height:500px;
	background-image: url(../images/wedding.jpg);
	background-size: cover;
	background-position: right;
	float:left;


}

#text3{
	position:relative;
	width:42%;
	margin-left: 85px;

}

#text3 img{
	position:absolute;
	top:0;
	left:0;
	
}

#text3 h1{
	font-size: 30px;
	color:#4f4f4f;
	font-family: 'Baskervville', serif;	
}

#text3 h1 span{
	color:#eabe23;
	font-size:65px;
}

#text3 p{
	padding-top: 70px;
}
